*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.maxWidth{
    max-width: 1200px!important;
}
.noResize{
    resize: none;
}

/*Background colors*/
.backgroundDarkGray{background-color: #313131!important;}
.backgroundYellow{background-color: rgb(255, 212, 81);}
.backgroundTransparent{background-color: transparent!important;}
.backgroundLightGrey{background-color: rgb(240, 240, 240);}
.backgroundLighterGray{background-color: rgb(245, 245, 245);}
.backgroundDarkerGray{background-color: rgb(202, 202, 202);}
.backgroundBlue{background-color: rgb(2, 157, 238); }

/*Colors*/
.colorDarkGreyFont{color: rgb(104, 104, 104)!important;}
.colorGreyFont{color: rgb(112, 112, 112)!important;}
.colorWhiteFont{color:#FFFFFF !important;}
.colorBlueFont{ color: rgb(63, 128, 208);}
.colorLightBlueFont{color: rgb(2, 157, 238);}
.colorYellowFont{color:rgb(255, 212, 81); }

/*Navigation*/
.mainNavDiv, .navbar{
    height: 80px;
}
.logo{
    width: 160px;
    height: auto;
}
.paddingLeft{
    padding-left: 120px;
}
.fa-phone-alt, .fa-envelope, .fa-facebook-square{
    font-size: 1em;
}

/*Header*/
.sliderDiv{
    height: calc(100vh - 125px)!important;
}
.headerName{
    height: 300px;
}
.headerFont{
    font-size: 3rem!important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.button{
    width: 220px;
    height: 50px;
    line-height: 1.5;
    border-radius: unset;
    font-size: 1.1em;
    transition:all 1s ease;
}
.buttonBorder{
    border: 3px solid;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.buttonContact:hover{
    background-color: rgb(255,212,81)!important;
    border: none;
    transition:all 1s ease;
}
.buttonGallery:hover{
    background-color: white;
    border: 3px solid;
    color: rgb(255,212,81)!important;
    transition:all 1s ease;
    text-shadow: none;
}
.buttonTextShadow{
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.33);
}

/*Adaptation*/
.header{
    font-size: 2.2rem;
}
.adaptionText{
    font-size: 1em;
}
/*Offer*/
.buttonOffer{
    width: 260px;
    text-shadow: none;
    font-size: 0.9em;
    margin: 0.8em ;
    line-height: 2;
}
.offerIcon{
    font-size: 1.2em;
}

/*Footer*/
.footerIcons{
    font-size: 2em;
}

@media only screen and (min-width: 240px) and (max-width: 1000px){
    .infoNav{
        display: none!important;
    }
    .navbar-collapse{
        z-index: 1000;
    }
}

@media only screen and (min-width: 641px) and (max-width: 999px){
    *{
        font-size: 16px;
    }
    .logo{
        width: 140px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 640px){
    *{
        font-size: 16px;
    }
    .paddingLeft{
        padding-left: 0;
    }
    .buttonContact, .buttonGallery{
        margin: 1em!important;
    }
    .navbar, .mainNavDiv{
        height: 60px!important;
    }
    .logo{
        width: 108px;
    }
    .headerButtons{
        justify-content: center;
    }
    .headerFont{
        font-size: 2.5rem!important;
    }
    .header{
        font-size: 1.8rem!important;
    }
}